@import "../node_modules/@angular/material/theming";
@include mat-core();

$md-primary: (
    50 : #e6eaef,
    100 : #c1cad7,
    200 : #97a7bd,
    300 : #6d83a2,
    400 : #4e698e,
    500 : #2f4e7a,
    600 : #2a4772,
    700 : #233d67,
    800 : #1d355d,
    900 : #12254a,
    A100 : #85a9ff,
    A200 : #5286ff,
    A400 : #1f62ff,
    A700 : #0550ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e9f1ec,
    100 : #c8dccf,
    200 : #a3c5af,
    300 : #7eae8e,
    400 : #629c76,
    500 : #468b5e,
    600 : #3f8356,
    700 : #37784c,
    800 : #2f6e42,
    900 : #205b31,
    A100 : #9cffb7,
    A200 : #69ff91,
    A400 : #36ff6c,
    A700 : #1dff59,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($md-primary, 500);
$accent: mat-palette($md-accent, 500);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);